div#rcnt {
    background-color: orange;
}


.ace_editor.ace-eclipse {
    opacity: 1 !important;
}

label, button, .x-accordion-hd{
    color: lightgray !important;
}



.x-toolbar, 
.x-panel-body, 
.x-plain-header~.x-plain-bwrap .x-plain-body .x-plain-header .x-tab-strip,
.x-tab-strip .x-tab-strip-active .x-tab-right,
.x-tab-strip span.x-tab-strip-inner,
.x-tab-strip span.x-tab-strip-text,
.x-tab-strip .x-tab-strip-closable.x-tab-strip-active span.x-tab-strip-text,
.x-tab-strip .x-tab-strip-closable .x-tab-right,
.x-grid3,
.x-grid3-header,
.x-panel,
.x-grid3-header-inner,
.x-toolbar-left,
.x-toolbar-right,
.x-window-mc,
.x-window-ml,
.x-window-mr,
.x-window-bwrap,
.x-resizable-pinned .x-window-bc, .x-resizable-pinned .x-window-bl, .x-resizable-pinned .x-window-br, .x-resizable-pinned .x-window-mc, .x-resizable-pinned .x-window-ml, .x-resizable-pinned .x-window-mr, .x-window-dlg .x-window-bc, .x-window-dlg .x-window-bl, .x-window-dlg .x-window-br, .x-window-dlg .x-window-mc, .x-window-dlg .x-window-ml, .x-window-dlg .x-window-mr,
.x-resizable-pinned .x-window-bwrap .x-window-ml, .x-window-dlg .x-window-bwrap .x-window-ml,
.x-plain-header,
.x-abs-layout-item .x-panel-body{
   background-color:#202124 !important;
   color: lightgray;
}

.x-plain-body {
    background: #202124;
}

.x-form-text, textarea.x-form-field{
   background-image:none !important;
   background-color:#373737 !important;
   border-color:#373737;
   color: lightgray;
}

.x-grid3-row-selected {
    background-color: rgba(212,222,78,0.75) !important;
    background-image: none;
    border-color: #DEDEDE !important;
    /* opacity: 1; */
}



td, 
.x-tree-node, 
.x-tree-node a, 
.x-tree-node-expanded a.x-tree-node-anchor span, 
.x-tree-node-expanded + .x-tree-node-ct .x-tree-node-leaf a.x-tree-node-anchor span,
.x-item-disabled *{
   color:lightgray !important;
}

.x-grid3-header-inner{
   background-color:none !important;
}

.x-grid3-row {
    border-color: #373737;
    border-top-color: #373737;
}

.x-grid3-row-alt {
    background-color: #373737;
}

.x-grid3-row-selected div.x-grid3-cell-inner {
  color:black
}

.x-grid3 .x-grid3-row-over,
.x-grid3-hd.x-grid3-hd-over .x-grid3-hd-inner{
	background-color:#373737;
	background-image: none;
}

.x-grid3-hd-row td{
	color: lightgray;
}

.x-grid3-header .donotshowlink.existTrad{
	color:unset;
}

.x-btn-text.filterclean,
.x-button-text,
.x-btn-noicon .x-btn-small .x-btn-text,
#filterMenu .x-btn-text{
  color: black !important;
}

.x-tree-node .x-tree-node-el a.x-tree-node-anchor span{
	color: lightgray;
}

table.wb-filterclean button.filterclean, table.wb-filter button.filter {
    color: #000000 !important;
}

.x-tree-node .x-tree-node-inline-icon {
    background-image: none;
    filter: invert(80%);
}

.x-tree-selected .x-tree-node-icon{
	filter: invert(20%);
}


.x-panel-header{
	background-color: black;
}


/* guadango spazio sopra */
.toolbarsMenu {
    border-top: 0px !important;
}
#firstToolbarsMenu+.x-panel > .x-panel-bwrap > .x-panel-body > .x-main-tab-panel {
    padding: 0px !important;
}